@import "tailwindcss";

*{
    font-family: var(--font-geist-sans), var(--font-geist-mono);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.01rem;
} 
.headline{
    color: linear-gradient(from white, to gray)
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(108, 99, 255, 0.5);
    background: linear-gradient(270deg, #ba4bff, #c57eec, #d7a6f1, #e6c8f6, #f4eafc, #e6c8f6, #d7a6f1, #c57eec, #ba4bff);
    background-size: 2000% 2000%;
    animation: moveGradient 10s linear infinite;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.generate {
    background-color: #a64afb;
    color: white;
    width: 8rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.generate:hover {
    background-color: #993ede;
}